/* Conf Globais, VAR's and body */

*{
    padding: 0px;
    margin: 0px;
}



body{
    /* size */
    width: 100vw;
    height: 100vh;
    /* color back */
    background-color: azure;
}

/* header, main and footer */

header,main,footer{
    padding: 10px;
    margin: auto;
}
header{
    padding-left: 40px;
}


/* tags */
a{
    color: black;
    margin: 5px;
    text-align: center;
}

nav{
    /* padding and margin */
    margin:4px;
    padding: 0px;
    /* diplay */
    display: none;
    /* text */
    text-align: center;
    font-size: 1em;
    color: black;
    text-decoration: none;
}
.nv:hover{
    transform: scale(1.1);
    transition-duration: 0.4;
    color: rgb(54, 66, 90);
    border-radius: 5px;
}

div{
    /* forma */ 
    margin: auto;
    padding: 4px;
    border-radius: 5px;
    width: 60px;
    background-color: #83adc5;
    /*text*/
    font-size: large;
    color: black;
    text-align: center;
   
  
   
}
div:hover{
    width: 600px;
    border-radius: 5px;
    transform: scale(1.1);
    transition-duration: 0.4s;
}
div:hover  > nav{
    width: 70px;
    border-radius: 5px;
    display: inline-flex;
    transition-duration: 0.4s;
}
div:not(:hover) > nav{
    transition-duration: 0.4s;
}

/* paragrafos e imagens */
p{
    text-align: center;
}
img{
    display: block;
    margin: auto;
    width: 300px;
}
/* section */
section{
    border-radius: 5px;
    background-color: #83adc5;
    text-align: center;
}
/* legend */
legend{
    font-size: large;
}
/* Class and Id */


/*sections class*/
.sec{
    padding: 10px;
    margin: auto;
}
/* creditos footer */
#creditss{
    font-size: 2em;
}

/* seção noticias  */
#fila1{
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
#fila2{
    border-radius: 0px 0px 0px 0px;
}
#fila3{
    border-radius: 0px 0px 5px 5px;
}
#gsemsec{
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 20px;
}
/* gif da semana */
#gsem{
    width: 350px;
    border-radius:5px;
}