/* geral */
*{
    padding:0px;
    margin:0px;
}
:root{

}
body{
    background-color: azure;
}


/* Header, Main and Footer */

header, main, footer{
    margin: 20px;
    padding:  20px;
}

/* class and id */

.nv{
    /*padding and margin*/

    padding: 8px;
    margin: 8px;
    /* display */
    display:inline-block;
    /* text */
    font-size: 1.3em;
    color: cadetblue;
    text-decoration:none;
}